.footer {
  padding:20px ;
  border-top: 1px solid #402323;
  margin-top: auto;
}

.footer-subContainer {
  border-top: 1px solid #402323;
  text-align: center;
  padding: 1rem 0rem 0rem;

}

.footer p {
  font-size: 18px;
}

@media screen and (max-width: 425px) {
  .footer p {
    font-size: 15px;
  }
}