.tabMenu {
  flex: 0 0 220px;
  padding:0rem 1rem 1rem;
  position: sticky;
  top: 1rem;
  height: 100%;
  border-radius: 20px;
}

.tabLinksDesktop {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.tabLink {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 17px;
  font-weight: 600;
  padding: 12px 16px;
  border-radius: 12px;
  background-color: #ffffff;
  color: #333;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
}

.tabLink:hover {
  background-color: #eaf6f6;
  transform: translateX(4px);
}

.tabLink.active {
  background-color: rgb(1, 1, 1);
  color: white;
  box-shadow: 0 4px 10px rgba(16, 19, 18, 0.3);
}

/* Mobile Dropdown */
.tabDropdownMobile {
  display: none;
}

@media (max-width: 768px) {
  .tabLinksDesktop {
    display: none;
  }

  .tabMenu {
    padding: 0rem;
    flex: 0;

  }

  .tabDropdownMobile {
    display: block;
    margin-bottom: 20px;
  }

  .tabDropdownMobile select {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border-radius: 12px;
    border: 1px solid #ccc;
    background: white;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="gray" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 18px;
  }
}

@media (max-width: 320px) {
  .tabDropdownMobile select {
    font-size: 14px;
  }
}