.socialMediaInline {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  margin: 10px 0;
}

.socialMediaInline a {
  font-size: 1.8rem;
  color: #555;
  transition: color 0.3s ease;
}

.socialMediaInline a:hover {
   transform: scale(1.2) rotate(5deg);
  animation: bounce 0.4s ease;
}
@keyframes bounce {
  0% { transform: scale(1); }
  50% { transform: scale(1.3); }
  100% { transform: scale(1); }
}
/* Inline icon colors */
.socialMediaInline a:nth-child(1) { color: #2604ff; }
.socialMediaInline a:nth-child(2) { color: #000000; }
.socialMediaInline a:nth-child(3) { color: #e60023; }
.socialMediaInline a:nth-child(4) { color: #029c3a; }
.socialMediaInline a:nth-child(5) { color: #c13584; }


@media screen and (max-width: 768px) {
  .socialMediaInline {
    display: flex;
    font-size: 20px;
  }
}
