/* Only affects content after hero section */
.homeContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
}

.postsWrapper h1 {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0 1rem 0rem;
    color: #161748;

}

@media (max-width: 768px) {
  .homeContainer {
    padding: 1rem 0.5rem;
  }
}
